In [8]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_info = "Resources/schools_complete.csv"
student_info = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_info)
student_data = pd.read_csv(student_info)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [46]:
#Total number of unique schools
total_schools = school_data_complete["school_name"].nunique()
total_schools

15

In [36]:
#Total number of students
student_count= school_data_complete["student_name"].count()
student_count

39170

In [48]:
#Total Budget
total_budget= school_data_complete["budget"].unique().sum()
total_budget

24649428

In [49]:
#Average math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [50]:
#Average reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [37]:
# % passing math (the percentage of students who passed math)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [43]:
# % passing reading (the percentage of students who passed reading)
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [44]:
# % overall passing (the percentage of students who passed math AND reading)
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [62]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({"Total schools": [total_schools],
                    "Total Students": [student_count],
                    "Total Budget": [total_budget],
                    "Average Math Score":[average_math_score],
                    "Average Reading Score":[average_reading_score],
                    "% Passing Math": [passing_math_percentage],
                    "% Passing Reading":[passing_reading_percentage],
                    "% Overall Passing":[overall_passing_rate],
                    })


# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

SCHOOL SUMMARY

In [64]:
#School type
school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [ ]:
# Calculate the total student count
per_school_counts =